@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

header {
    border: 2px solid #451023;
}

.menu {
    list-style: none;
    border: 2px solid teal;
    border-radius: 100px;
    width: 650px;
    padding-left: 0px;
    margin: auto;
}

.menu li {
    width: 100px;
    display: inline-block;
    text-align: center;
}
li.activo{
    background-color: teal;
    color: white;
    border-radius: 20px;
}

section {
    border: 2px solid #31c51d;
    margin-bottom: 36px;
}
h1 {
    color:  rgb(36, 138, 233);
    font-size: 64px;
    font-family: "Sour Gummy", sans-serif;
    letter-spacing: 3px;
    text-align: center;
}

h2 {
    color: teal;
    font-family: "Sour Gummy", sans-serif;
    text-transform: uppercase;
    text-align: left;
}

p {
    font-family: Poppins, sans-serif;
    text-align: justify;
}

ul li {
    font-family: Poppins, sans-serif;
}

span {
    font-weight: 700;
}

.text-rojo {
    color: red;
    text-transform: capitalize;
}

.text-verde {
    color: teal;
    text-transform: capitalize;

}

.text-center {
    text-align: center;
}

footer p {
    text-align: center;
}

/* SELECTORE DE ETIQUETA, CLASE e ID */ 
#moviedb {
    color: slateblue;
}

.link {
    color: red
}

a {
    color: teal !important;
}

/*Propiedade de la caja */
.box {
    border: 10px solid #a91f52;
    height: 200px;
    width: 200px;
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
}

iframe {
    margin: 20px 10px 50px 180px;
}

.foto {
    border: 2px solid #6d6c6c;
    padding: 5px;
    margin: 10px;
    border-radius: 100px;
}